<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:annotation-config />
	<context:component-scan base-package="ar.uba.fi.hemobillingLaboService.*" />
	<context:component-scan base-package="ar.uba.fi.hemobilling.commons.*" />
	<aop:aspectj-autoproxy />
	
	<bean id="propertyConfigurer" class="ar.uba.fi.hemobilling.commons.config.ConfigurablePropertyPlaceholder">
	  <property name="propertyLocationSystemProperty" value="propertyPath" />
	  <property name="defaultPropertyFileName" value="server.properties" />
	  <property name="ignoreResourceNotFound" value="false"/>
	</bean>
	 	
	<bean id="sessionFactoryComplementos" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">

		<property name="packagesToScan">
			<list>
				<value>ar.uba.fi.hemobillingLaboService.domain</value>
			</list>
		</property>
				
		<property name="hibernateProperties">
			<props>	    	
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>				
				<prop key="hibernate.connection.driver_class">sun.jdbc.odbc.JdbcOdbcDriver</prop>
			    <prop key="hibernate.connection.url">jdbc:odbc:Driver={Microsoft Access Driver (*.mdb)};DBQ=${databaseComplementos.path}</prop> 
			    <prop key="hiberante.show_sql">true</prop>
			    <prop key="connection.username"></prop>   
			    <prop key="connection.password"></prop>
			    <prop key="connection.autocommit">true</prop>
			    <prop key="connection.isolation">TRANSACTION_SERIALIZABLE</prop>
				<prop key="connection.pool_size">1</prop>
				<prop key="current_session_context_class">thread</prop> 
				<prop key="cache.provider_class">org.hibernate.cache.NoCacheProvider</prop> 			                     
		    </props>
		</property>		
	</bean>
	
	<bean id="sessionFactoryOperaciones" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">

		<property name="packagesToScan">
			<list>
				<value>ar.uba.fi.hemobillingLaboService.domain</value>
			</list>
		</property>
				
		<property name="hibernateProperties">
			<props>	    	
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>				
				<prop key="hibernate.connection.driver_class">sun.jdbc.odbc.JdbcOdbcDriver</prop>
			    <prop key="hibernate.connection.url">jdbc:odbc:Driver={Microsoft Access Driver (*.mdb)};DBQ=${databaseOperaciones.path}</prop> 
				<prop key="hiberante.show_sql">true</prop>
			    <prop key="connection.username"></prop>   
			    <prop key="connection.password"></prop>
			    <prop key="connection.autocommit">true</prop>
			    <prop key="connection.isolation">TRANSACTION_SERIALIZABLE</prop>
				<prop key="connection.pool_size">1</prop>
				<prop key="current_session_context_class">thread</prop> 
				<prop key="cache.provider_class">org.hibernate.cache.NoCacheProvider</prop> 			                     
		    </props>
		</property>		
	</bean>
    
	<bean id="org.dozer.Mapper" class="org.dozer.DozerBeanMapper">
        <property name="mappingFiles">
            <list>
                <value>dozer-bean-mappings.xml</value>
            </list>
        </property>
    </bean> 
    
</beans>
